h1 {
    font-family: Helvetica, sans-serif;
    background-color: blue;
    padding: 4px 4px;
    color: white;
    
}

ul {
    font-size: 24px;
    background-color: rgba(150,25,60,0.5);
    width: 200px;
}

li {
    padding: 4px 0px;
 }
    

.nav {
    background-color: rgba(150,25,60,0.5);
    width: 200px;
    padding: 4px 4px;
}